.btn-second
  color white
  background-color #42ca46
  border-color #42ca46
.blindado
  color grey;
  font-weight bold
  font-size 20px
  text-transform uppercase
.buttom1
    font-size 152%
.buttom2
    font-size 92%
.buttom3
  font-size 102%
.candado
.descuento
  padding 0
  font-size 20px
  margin-top 1%
.color1
  background-color dimgrey
.color2
  background-color darkgrey
.costo
  border-bottom-style groove

.image
  margin-left -3%

.marginContainer
  border-bottom-style groove

.raya
  text-decoration: line-through

.product
  border-right-style ridge


.precioTotal
  border-bottom-style ridge

.pagos
  margin-top -10%
  display inline-block

.Input-cantidad
  font-size smaller

.span-title
  text-transform upercase

.tipos
  margin-top 4px
  border-right-style groove
  margin-left -6%
.textContainer
  margin-left -5%

.valor
  margin-top -20%
  position relative
  margin-left 77%

.precioUnitario
  border-bottom-style ridge
.text
  margin-left 57%
.text1
  margin-left 26%
.text2
  margin-left 76%
.venta
  border-bottom-style groove
